@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:500|Roboto+Slab");
/* reset browser style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*List for media*/
/*Common variables*/
/*Common mixin*/
body {
  background-image: linear-gradient(to right, rgba(111, 111, 111, 0.4), rgba(9, 9, 9, 0.4), rgba(0, 0, 0, 0.4));
  font-family: Roboto, serif;
  margin: 0 0 20px 0; }

h1 {
  padding: 20px 0 10px 0;
  text-align: center;
  font-size: 2.5em; }

p {
  font-family: "Roboto Slab", serif;
  margin: 0; }

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer; }

.btn, .btn-sbm, .btn-rst {
  text-align: center;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: honeydew;
  background-color: #59574b;
  display: block; }

.btn-sbm {
  width: 80%;
  max-width: 300px; }

.btn-rst {
  width: 40%;
  max-width: 150px; }

.row {
  display: -ms-flexbox;
  display: flex; }
  .row-colunm {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column; }
  .row-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap; }
  .row-between {
    -ms-flex-pack: justify;
        justify-content: space-between; }

.column-1 {
  -ms-flex: 1;
      flex: 1; }

.column-2 {
  -ms-flex: 2;
      flex: 2; }

.column-3 {
  -ms-flex: 3;
      flex: 3; }

.column-4 {
  -ms-flex: 4;
      flex: 4; }

.column-5 {
  -ms-flex: 5;
      flex: 5; }

.column-6 {
  -ms-flex: 6;
      flex: 6; }

.column-7 {
  -ms-flex: 7;
      flex: 7; }

.column-8 {
  -ms-flex: 8;
      flex: 8; }

.column-9 {
  -ms-flex: 9;
      flex: 9; }

.column-10 {
  -ms-flex: 10;
      flex: 10; }

.column-11 {
  -ms-flex: 11;
      flex: 11; }

.column-12 {
  -ms-flex: 12;
      flex: 12; }

header {
  padding: 5px 10px 10px 10px; }

header {
  width: 100%;
  background-image: linear-gradient(to right, #b2b2bb, #e8e8eb, white); }
  header h1, header h2 {
    text-align: center; }
  header h1 {
    padding: 0;
    font-size: 1.1em;
    color: #0e0ec6; }
  header h2 {
    color: #1d3232; }
  header div:first-of-type {
    padding-left: 10px; }
  header img {
    float: left;
    width: 50px; }
  @media (max-width: 768px) {
    header.row {
      margin: 0;
      padding: 0;
      -ms-flex-flow: column;
          flex-flow: column; }
    header.row div:first-of-type {
      display: none; } }

li {
  list-style: none; }

nav {
  width: 100%;
  text-align: right; }
  @media (max-width: 768px) {
    nav {
      text-align: center;
      margin-top: 10px; } }
  nav li {
    display: inline-block;
    padding: 5px; }
    nav li:first-of-type {
      display: none; }
  nav a {
    text-decoration: none;
    color: #040404;
    font-size: large; }
    @media (max-width: 768px) {
      nav a {
        font-size: larger;
        border-bottom: 2px solid #7b7b8c; } }
    nav a:visited {
      color: #636371;
      text-shadow: 1px 0 3px #59574b; }
    nav a:hover {
      color: #0e0ec6;
      text-shadow: 1px 0 3px #fff716; }
    nav a:active {
      color: #636371;
      text-shadow: 1px 0 3px #59574b; }

/*Profiles*/
.profiles {
  -ms-flex-pack: center;
      justify-content: center;
  margin: 15px; }
  @media (max-width: 768px) {
    .profiles {
      -ms-flex-flow: column;
          flex-flow: column; } }

.profile {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  background-color: white;
  margin: 20px;
  padding: 15px 0 0 0;
  box-shadow: 2px 1px 1px black; }
  .profile .name {
    text-align: center;
    font-family: "Bree Serif", Georgia, serif;
    font-size: 1.3em;
    margin-bottom: 5px; }
  .profile .job {
    padding: 10px 20px;
    margin-top: auto;
    border-top: 1px dashed black;
    background-color: #9f9985; }
  .profile figure {
    text-align: center; }
    .profile figure .wallaper {
      position: relative;
      /*picture frame from scotch*/ }
      .profile figure .wallaper img {
        max-width: 90%;
        min-width: 200px; }
        @media (max-width: 850px) {
          .profile figure .wallaper img {
            max-width: 60%;
            border-radius: 7px; } }
      .profile figure .wallaper .sketch {
        position: absolute;
        width: 30px;
        height: 10px;
        background-color: #ffdb5d; }
        @media (max-width: 850px) {
          .profile figure .wallaper .sketch {
            display: none; } }
      .profile figure .wallaper .top {
        top: 0.2%; }
      .profile figure .wallaper .bottom {
        bottom: 3%; }
      .profile figure .wallaper .left {
        left: 2.5%;
        box-shadow: 1px 1px 2px black; }
      .profile figure .wallaper .right {
        right: 2.5%;
        box-shadow: -1px 1px 2px black; }
      .profile figure .wallaper .left.top {
        transform: skew(-15deg, 0) rotate(-45deg); }
      .profile figure .wallaper .right.top {
        transform: skew(15deg, 0) rotate(45deg); }
      .profile figure .wallaper .right.bottom {
        transform: skew(-15deg, 0) rotate(-45deg); }
      .profile figure .wallaper .left.bottom {
        transform: skew(15deg, 0) rotate(45deg); }
    .profile figure figcaption {
      display: block;
      margin: 10px 0; }

.charts .name {
  height: 30%;
  padding: 10px 15px;
  word-wrap: break-word; }
  @media screen and (max-width: 500px) {
    .charts .name {
      width: 30%; } }
  @media screen and (max-width: 500px) {
    .charts .name {
      padding: 15px 10px; } }

@media screen and (max-width: 500px) {
  .chart {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; } }

.user {
  height: 30%;
  padding: 15px 5px; }
  @media screen and (max-width: 500px) {
    .user {
      width: 30%; } }

.charts {
  border: 1px solid #000033;
  margin: 20px;
  padding: 10px; }
  .charts .name {
    text-align: center;
    transform: rotate(-90deg); }

.chart-line {
  background-color: #000033;
  width: 80vw;
  height: 20px; }
  @media screen and (max-width: 850px) {
    .chart-line {
      width: 70vw; } }
  @media screen and (max-width: 500px) {
    .chart-line {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column;
          flex-flow: column;
      height: 80vh;
      width: 20px; } }

.inline span {
  display: none; }

.user-1 .line-1 .chart-1 {
  display: inline-block;
  width: 32.56684vw;
  height: 20px;
  background-color: #30ff00;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-1 .line-1 .chart-1:hover {
    background-color: #83ff66; }
    .user-1 .line-1 .chart-1:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "task resolved 87";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-1 .line-1 .chart-1:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-1 .line-1 .chart-1 {
      display: block;
      height: 32.56684vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-1 .line-1 .chart-2 {
  display: inline-block;
  width: 35.93583vw;
  height: 20px;
  background-color: #30ff00;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-1 .line-1 .chart-2:hover {
    background-color: #83ff66; }
    .user-1 .line-1 .chart-2:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "project resolved 96";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-1 .line-1 .chart-2:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-1 .line-1 .chart-2 {
      display: block;
      height: 35.93583vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-1 .line-2 .chart-1 {
  display: inline-block;
  width: 34.06417vw;
  height: 20px;
  background-color: #00fffa;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-1 .line-2 .chart-1:hover {
    background-color: #66fffc; }
    .user-1 .line-2 .chart-1:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "critical bug fixed 91";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-1 .line-2 .chart-1:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-1 .line-2 .chart-1 {
      display: block;
      height: 34.06417vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-1 .line-2 .chart-2 {
  display: inline-block;
  width: 2.24599vw;
  height: 20px;
  background-color: #00fffa;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-1 .line-2 .chart-2:hover {
    background-color: #66fffc; }
    .user-1 .line-2 .chart-2:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "bug fixed 6";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-1 .line-2 .chart-2:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-1 .line-2 .chart-2 {
      display: block;
      height: 2.24599vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-1 .line-3 .chart-1 {
  display: inline-block;
  width: 27.3262vw;
  height: 20px;
  background-color: #2600ff;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-1 .line-3 .chart-1:hover {
    background-color: #7d66ff; }
    .user-1 .line-3 .chart-1:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "worlds saved 73";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-1 .line-3 .chart-1:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-1 .line-3 .chart-1 {
      display: block;
      height: 27.3262vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-1 .line-3 .chart-2 {
  display: inline-block;
  width: 20.96257vw;
  height: 20px;
  background-color: #2600ff;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-1 .line-3 .chart-2:hover {
    background-color: #7d66ff; }
    .user-1 .line-3 .chart-2:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "villains defeated 56";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-1 .line-3 .chart-2:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-1 .line-3 .chart-2 {
      display: block;
      height: 20.96257vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-2 .line-1 .chart-1 {
  display: inline-block;
  width: 34.81283vw;
  height: 20px;
  background-color: #30ff00;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-2 .line-1 .chart-1:hover {
    background-color: #83ff66; }
    .user-2 .line-1 .chart-1:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "task resolved 93";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-2 .line-1 .chart-1:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-2 .line-1 .chart-1 {
      display: block;
      height: 34.81283vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-2 .line-1 .chart-2 {
  display: inline-block;
  width: 19.83957vw;
  height: 20px;
  background-color: #30ff00;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-2 .line-1 .chart-2:hover {
    background-color: #83ff66; }
    .user-2 .line-1 .chart-2:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "project resolved 53";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-2 .line-1 .chart-2:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-2 .line-1 .chart-2 {
      display: block;
      height: 19.83957vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-2 .line-2 .chart-1 {
  display: inline-block;
  width: 12.72727vw;
  height: 20px;
  background-color: #00fffa;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-2 .line-2 .chart-1:hover {
    background-color: #66fffc; }
    .user-2 .line-2 .chart-1:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "critical bug fixed 34";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-2 .line-2 .chart-1:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-2 .line-2 .chart-1 {
      display: block;
      height: 12.72727vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-2 .line-2 .chart-2 {
  display: inline-block;
  width: 29.19786vw;
  height: 20px;
  background-color: #00fffa;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-2 .line-2 .chart-2:hover {
    background-color: #66fffc; }
    .user-2 .line-2 .chart-2:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "bug fixed 78";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-2 .line-2 .chart-2:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-2 .line-2 .chart-2 {
      display: block;
      height: 29.19786vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-2 .line-3 .chart-1 {
  display: inline-block;
  width: 8.98396vw;
  height: 20px;
  background-color: #2600ff;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-2 .line-3 .chart-1:hover {
    background-color: #7d66ff; }
    .user-2 .line-3 .chart-1:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "worlds saved 24";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-2 .line-3 .chart-1:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-2 .line-3 .chart-1 {
      display: block;
      height: 8.98396vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-2 .line-3 .chart-2 {
  display: inline-block;
  width: 18.71658vw;
  height: 20px;
  background-color: #2600ff;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-2 .line-3 .chart-2:hover {
    background-color: #7d66ff; }
    .user-2 .line-3 .chart-2:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "villains defeated 50";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-2 .line-3 .chart-2:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-2 .line-3 .chart-2 {
      display: block;
      height: 18.71658vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-3 .line-1 .chart-1 {
  display: inline-block;
  width: 5.9893vw;
  height: 20px;
  background-color: #30ff00;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-3 .line-1 .chart-1:hover {
    background-color: #83ff66; }
    .user-3 .line-1 .chart-1:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "task resolved 16";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-3 .line-1 .chart-1:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-3 .line-1 .chart-1 {
      display: block;
      height: 5.9893vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-3 .line-1 .chart-2 {
  display: inline-block;
  width: 23.58289vw;
  height: 20px;
  background-color: #30ff00;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-3 .line-1 .chart-2:hover {
    background-color: #83ff66; }
    .user-3 .line-1 .chart-2:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "project resolved 63";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-3 .line-1 .chart-2:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-3 .line-1 .chart-2 {
      display: block;
      height: 23.58289vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-3 .line-2 .chart-1 {
  display: inline-block;
  width: 22.45989vw;
  height: 20px;
  background-color: #00fffa;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-3 .line-2 .chart-1:hover {
    background-color: #66fffc; }
    .user-3 .line-2 .chart-1:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "critical bug fixed 60";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-3 .line-2 .chart-1:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-3 .line-2 .chart-1 {
      display: block;
      height: 22.45989vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-3 .line-2 .chart-2 {
  display: inline-block;
  width: 37.05882vw;
  height: 20px;
  background-color: #00fffa;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-3 .line-2 .chart-2:hover {
    background-color: #66fffc; }
    .user-3 .line-2 .chart-2:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "bug fixed 99";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-3 .line-2 .chart-2:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-3 .line-2 .chart-2 {
      display: block;
      height: 37.05882vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-3 .line-3 .chart-1 {
  display: inline-block;
  width: 32.94118vw;
  height: 20px;
  background-color: #2600ff;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-3 .line-3 .chart-1:hover {
    background-color: #7d66ff; }
    .user-3 .line-3 .chart-1:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "worlds saved 88";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-3 .line-3 .chart-1:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-3 .line-3 .chart-1 {
      display: block;
      height: 32.94118vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

.user-3 .line-3 .chart-2 {
  display: inline-block;
  width: 37.05882vw;
  height: 20px;
  background-color: #2600ff;
  transition: background-color 400ms ease-in-out;
  position: relative;
  border-right: 2px solid #000033; }
  .user-3 .line-3 .chart-2:hover {
    background-color: #7d66ff; }
    .user-3 .line-3 .chart-2:hover::after {
      background-color: #9898aa;
      border-radius: 3px;
      padding: 2px;
      top: -23px;
      left: 3px;
      position: absolute;
      content: "villains defeated 99";
      min-width: 140px; }
      @media screen and (max-width: 500px) {
        .user-3 .line-3 .chart-2:hover::after {
          top: 0;
          left: -80px;
          transform: rotate(-90deg); } }
  @media screen and (max-width: 500px) {
    .user-3 .line-3 .chart-2 {
      display: block;
      height: 37.05882vh;
      width: 20px;
      border-right: none;
      border-bottom: 2px solid #000033; } }

@media screen and (max-width: 500px) {
  .charts.row {
    -ms-flex-flow: column;
        flex-flow: column; }
  .charts .name {
    display: inline-block;
    text-align: center;
    transform: none; }
  .chart .row-colunm {
    -ms-flex-flow: row;
        flex-flow: row; } }

/*change the with*/
@media screen and (max-width: 500px) {
  .axis {
    display: none; } }

.axis .point {
  visibility: visible;
  display: inline-block;
  width: 10vw;
  height: 10px;
  border-right: 1px solid black; }

.axis .point:last-of-type {
  border: none; }

/*change the number of points*/
.num-1:after {
  visibility: hidden;
  content: "23";
  display: inline-block;
  padding: 12px 5px 0 0; }

.num-2:after {
  content: "46";
  display: inline-block;
  padding: 12px 5px 0 0; }

.num-3:after {
  content: "70";
  display: inline-block;
  padding: 12px 5px 0 0; }

.num-4:after {
  content: "93";
  display: inline-block;
  padding: 12px 5px 0 0; }

.num-5:after {
  content: "116";
  display: inline-block;
  padding: 12px 5px 0 0; }

.num-6:after {
  content: "140";
  display: inline-block;
  padding: 12px 5px 0 0; }

.num-7:after {
  content: "163";
  display: inline-block;
  padding: 12px 5px 0 0; }

.num-8:after {
  content: "187";
  display: inline-block;
  padding: 12px 5px 0 0; }

.numeration {
  width: 80vw;
  margin-top: 20px; }
  @media screen and (max-width: 850px) {
    .numeration {
      width: 70vw; } }

.join-form.row {
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
  @media screen and (max-width: 450px) {
    .join-form.row {
      -ms-flex-flow: column;
          flex-flow: column; } }

@media screen and (max-width: 450px) {
  fieldset .row {
    -ms-flex-flow: column;
        flex-flow: column; } }

.about {
  margin: 0 5px;
  padding: 0 20px;
  border-right: 2px dashed #1d3232;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: center;
      justify-content: center; }
  .about img {
    display: block;
    max-width: 100%;
    min-width: 150px;
    margin: auto;
    padding: 10px; }
  .about h2 {
    font-size: 1.3em;
    padding: 0 0 1em 0; }
  .about p {
    padding: 0 0 10px 0; }

form {
  margin: 0 7%;
  padding: 0 10px; }

label, fieldset {
  margin-top: 1em;
  padding: 1px; }

label, legend {
  font-size: 1.1em; }

fieldset {
  padding: 10px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

fieldset label {
  -ms-flex: 1 1 150px;
      flex: 1 1 150px; }

input[type='text'],
input[type='email'] {
  display: block;
  padding: 0.4em;
  font-size: 1.2em;
  color: darkslategrey;
  font-weight: bold; }

.elem-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column; }
  .elem-name input[type='text'] {
    text-transform: uppercase; }

.decorated-radio, .decorated-check {
  margin: 3px 5px -4px 0;
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #636371; }

input[type='radio']:checked + .decorated-radio::before, input[type='checkbox']:checked + .decorated-check::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #413548; }

input[type='radio'],
input[type='checkbox'] {
  display: none; }

.decorated-radio {
  border-radius: 50%; }

input[type='radio']:checked + .decorated-radio::before {
  border-radius: 50%; }

.decorated-check {
  border-radius: 2px; }

input[type='checkbox']:checked + .decorated-check::before {
  border-radius: 2px; }
